
.chart {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 120px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}
.chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.skill-text{
  display: inline-block;
  line-height: 110px;
  z-index: 2;
  font-weight: bold;	
}

.skill-text:after {
  content: '';
  margin-left: 0.1em;
  font-size: .8em;

}

.percent {
  display: inline-block;
  line-height: 55px;
  z-index: 2;
}
.percent:after {
  content: '%';
  margin-left: 0.1em;
  font-size: .8em;

}

#contact{
  background-color: #34495e;
  color:white;
}

.social{
  margin-left: 24%;
}